.button {
    align-items: center;
    border-radius: 6px;
    background: var(--color-brand-primary-core, #E51937);
    color: var(--color-base-white, #FFF);
    display: flex;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 12px 20px;
    text-align: center;

    span {
        padding:0 4px;
    }

    &.outline {
        background:transparent;
        border:solid 1px #000;
        color:#000;
    }

    &.sm {
        font-size: 14px;
        line-height: 20px;
        padding: 10px 16px;
    }

    &--group {
        display:flex;
        gap:16px;
    }
}